name: CI

on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ghc: [ '8.8.3', '8.10.3', '9.0.1', 'latest' ]
        cabal: [ 'latest' ]
    steps:
    - uses: actions/checkout@v2
    - uses: haskell/actions/setup@v1
      with:
        ghc-version: ${{ matrix.ghc }}
        cabal-version: ${{ matrix.cabal }}

    - name: Cache ~/.cabal/store
      uses: actions/cache@v1
      with:
        path: ~/.cabal/store
        key: ${{ runner.os }}-cabal-store-cabal${{ matrix.cabal }}-ghc${{ matrix.ghc }}

    - name: Install dependencies
      run: |
        cabal v2-update
        cabal v2-build all --only-dependencies --enable-tests
    - name: Build
      run: cabal v2-build all
    - name: Run tests
      run: cabal v2-test all
